@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Google Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat", Arial, sans-serif;
}

.rounded-lg,
.rounded-xl,
.rounded-2xl {
  border-radius: 0.125rem !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #f84525 #f3f4f6;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #f3f4f6;
}

*::-webkit-scrollbar-thumb {
  background: #f84525;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #d93a1e;
}
